{% extends 'Navbar.html' %}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Printing</title>
</head>
<body>
{% block body %}

<div class="container text-center">
  <div class="row">
    <div class="col">
      First in DOM, no order applied
        <div>
    <from method = "post" action ="{%url 'weatherpagecall'%}">
        {% csrf_token %}
        <br>
        <h4>
        <label>Enter a city name:</label>
        <input type="text" name="Place" required>
        <br>
        <Button type="submit" class="btn btn-success btn-lg">Check</Button>
            </h4>
    </from>
</div>
    </div>
    <div class="col order-5">
      Second in DOM, with a larger order
        <br>
        <h1>
            {% nif error_message %}
            <p>{{error_message}}</p>
            {% else %}
            <p>City: {{city}}</p>
            <p>Temperature:{{temperature}}&#8451;</p>
            <p>Humidity:{{humidity}}%</p>
            {% endif %}
        </h1>
    </div>
  </div>
</div>


{% endblock %}
</body>
</html>